<h2>Member login</h2>


<form method="POST" action='/login'>
    <input type='text' name='uname' placeholder="Enter Username"><br/>
    <input type='password' name='pword' placeholder="Enter Passoword">
    <button type='submit'>Login</button>
</form>